/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_scss/common/_classes.scss */
.cta, .back-to-posts {
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  outline: none;
  color: #e94127;
  display: inline-block;
  text-transform: lowercase;
  font-size: 1em;
}
/* line 9, ../_scss/common/_classes.scss */
.cta:hover, .back-to-posts:hover {
  background: #e94127;
  color: white;
}

/* line 15, ../_scss/common/_classes.scss */
.divider, .intro:after, .article-body:after {
  content: "\2767";
  color: #ccc;
  display: block;
  font-size: 2em;
  text-align: center;
}

@font-face {
  font-family: 'jshakes-icons';
  src: url("/fonts/jshakes-icons.eot?i18epf");
  src: url("/fonts/jshakes-icons.eot?#iefixi18epf") format("embedded-opentype"), url("/fonts/jshakes-icons.woff?i18epf") format("woff"), url("/fonts/jshakes-icons.ttf?i18epf") format("truetype"), url("/fonts/jshakes-icons.svg?i18epf#jshakes") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../_scss/common/_icons.scss */
.icon-search {
  content: "\e602";
}

/* line 30, ../_scss/common/_icons.scss */
.icon-phone {
  content: "\e603";
}

/* line 33, ../_scss/common/_icons.scss */
.icon-hamburger {
  content: "\e604";
}

/* line 36, ../_scss/common/_icons.scss */
.icon-fb {
  content: "\e605";
}

/* line 39, ../_scss/common/_icons.scss */
.icon-email, .contact-link .contact-email:before {
  content: "\e606";
}

/* line 42, ../_scss/common/_icons.scss */
.icon-arrow-right, .post-navigation .next-post:after {
  content: "\e600";
}

/* line 45, ../_scss/common/_icons.scss */
.icon-arrow-left, .back-to-posts:before, .post-navigation .previous-post:before {
  content: "\e607";
}

/* line 48, ../_scss/common/_icons.scss */
.icon-arrow-up {
  content: "\e608";
}

/* line 51, ../_scss/common/_icons.scss */
.icon-arrow-down {
  content: "\e609";
}

/* line 54, ../_scss/common/_icons.scss */
.icon-twitter, .contact-link .contact-twitter:before {
  content: "\e601";
}

/* line 57, ../_scss/common/_icons.scss */
.icon-jshakes-logo, .site-header-icon:before {
  content: "\e60a";
}

/* line 60, ../_scss/common/_icons.scss */
.icon-github, .contact-link .contact-github:before {
  content: "\e60b";
}

/* line 1, ../_scss/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_scss/base/_base.scss */
body {
  font-family: "Georgia", serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 18, ../_scss/base/_base.scss */
p {
  line-height: 1.5;
}

/* line 22, ../_scss/base/_base.scss */
blockquote {
  border-left: 2px solid #DEDEDE;
  padding-left: 1em;
  font-style: italic;
  margin-bottom: 1em;
}

@font-face {
  font-family: 'allerregular';
  src: url("../fonts/aller_rg-webfont.eot");
  src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../_scss/base/_fonts.scss */
.aller {
  font-family: 'allerregular', arial;
}

/* line 16, ../_scss/base/_fonts.scss */
.aller-light, .cta, .back-to-posts {
  font-family: 'aller_lightregular', arial;
}

@font-face {
  font-family: 'aller_lightregular';
  src: url("../fonts/aller_lt-webfont.eot");
  src: url("../fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: lighter;
  font-style: normal;
}

/* line 1, ../_scss/base/_layout.scss */
.content-wrapper {
  color: #444444;
}
/* line 3, ../_scss/base/_layout.scss */
.content-wrapper a {
  text-decoration: none;
}
/* line 6, ../_scss/base/_layout.scss */
.content-wrapper p a {
  background: #fef8b7;
  color: #444444;
}
/* line 9, ../_scss/base/_layout.scss */
.content-wrapper p a:hover {
  text-decoration: underline;
}

/* line 17, ../_scss/base/_layout.scss */
.site-header {
  text-align: center;
  padding: 2em 0;
  background: #e94127;
  color: white;
}

/* line 24, ../_scss/base/_layout.scss */
.site-header-permalink {
  color: white;
  text-decoration: none;
}

/* line 29, ../_scss/base/_layout.scss */
.site-header-icon {
  display: inline;
  font-size: 0;
}
/* line 15, ../_scss/common/_icons.scss */
.site-header-icon:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 33, ../_scss/base/_layout.scss */
.site-header-icon:before {
  font-size: 60px;
}

/* line 40, ../_scss/base/_layout.scss */
.site-footer {
  text-align: center;
  color: #666666;
  padding: 2em 0;
}

/* line 48, ../_scss/base/_layout.scss */
.page-content {
  max-width: 600px;
  margin: 3em auto 0;
  padding: 0 1em;
}

/* line 54, ../_scss/base/_layout.scss */
.page-title, .article-title {
  font-size: 3em;
  margin-bottom: 1em;
}

/* line 3, ../_scss/modules/_home.scss */
.intro {
  padding: 3.5em 1em 1.5em;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}
/* line 9, ../_scss/modules/_home.scss */
.intro:after {
  margin: 1.5em 0 .25em;
}

/* line 15, ../_scss/modules/_home.scss */
.contact-links {
  margin: 1em 0 0;
}

/* line 19, ../_scss/modules/_home.scss */
.contact-link {
  display: inline-block;
  margin: 0 1em;
}
/* line 22, ../_scss/modules/_home.scss */
.contact-link > a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  color: #e94127;
  width: 42px;
  height: 42px;
  display: block;
  font-size: 0;
}
/* line 31, ../_scss/modules/_home.scss */
.contact-link > a:before {
  font-size: 20px;
  vertical-align: middle;
  line-height: 41px !important;
}
/* line 36, ../_scss/modules/_home.scss */
.contact-link > a:hover {
  background: #e94127;
  color: white;
}
/* line 15, ../_scss/common/_icons.scss */
.contact-link .contact-email:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 15, ../_scss/common/_icons.scss */
.contact-link .contact-twitter:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 15, ../_scss/common/_icons.scss */
.contact-link .contact-github:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 4, ../_scss/modules/_post.scss */
.article-index .article-permalink {
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  text-align: center;
  padding: 2em 0;
  background: white;
}
/* line 9, ../_scss/modules/_post.scss */
.article-index .article-permalink:hover {
  background: #e94127;
  color: white;
  text-decoration: none;
}
/* line 15, ../_scss/modules/_post.scss */
.article-index .article-title {
  font-size: 2em;
  max-width: 600px;
  padding: 0 1em;
  margin: 0 auto .5em;
}

/* line 27, ../_scss/modules/_post.scss */
.article-header {
  text-align: center;
  margin: 0 0 3em;
}
/* line 31, ../_scss/modules/_post.scss */
.article-header .article-publish-date {
  display: block;
}

/* line 36, ../_scss/modules/_post.scss */
.article-permalink {
  color: #444444;
  display: block;
  text-decoration: none;
}

/* line 46, ../_scss/modules/_post.scss */
.article-hero-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 0 2em;
}

/* line 55, ../_scss/modules/_post.scss */
.article-body {
  padding-bottom: 1.5em;
}
/* line 57, ../_scss/modules/_post.scss */
.article-body h3, .article-body h4, .article-body h5, .article-body h6 {
  padding: 1em 0 2em;
}
/* line 60, ../_scss/modules/_post.scss */
.article-body h3 {
  font-size: 2em;
}
/* line 63, ../_scss/modules/_post.scss */
.article-body h4 {
  font-size: 1.5em;
}
/* line 66, ../_scss/modules/_post.scss */
.article-body > p {
  margin: 0 0 1.5em;
}
/* line 72, ../_scss/modules/_post.scss */
.article-body ul li {
  margin: 0 0 2em;
  list-style: disc;
}

/* line 80, ../_scss/modules/_post.scss */
.article-footer {
  font-style: italic;
}

/* line 84, ../_scss/modules/_post.scss */
.article-footer-text {
  margin-bottom: 2em;
}

/* line 88, ../_scss/modules/_post.scss */
.article-footer-buttons {
  text-align: center;
  margin: 0 0 2em;
}

/* line 93, ../_scss/modules/_post.scss */
.back-to-posts {
  font-style: normal;
  margin-right: 2em;
}
/* line 15, ../_scss/common/_icons.scss */
.back-to-posts:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 98, ../_scss/modules/_post.scss */
.back-to-posts:before {
  font-size: .75em;
  margin-right: 1em;
}

/* line 104, ../_scss/modules/_post.scss */
.twitter-share-button {
  vertical-align: bottom;
  display: inline-block;
}

/* line 111, ../_scss/modules/_post.scss */
.post-navigation {
  display: table;
  width: 100%;
  position: relative;
}
/* line 116, ../_scss/modules/_post.scss */
.post-navigation .previous-post,
.post-navigation .next-post {
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  display: table-cell;
  width: 50%;
  color: #e94127;
  padding: 1em;
  position: relative;
  vertical-align: middle;
  line-height: 1.25;
}
/* line 125, ../_scss/modules/_post.scss */
.post-navigation .previous-post:hover,
.post-navigation .next-post:hover {
  background: #e94127;
  color: white;
}
/* line 129, ../_scss/modules/_post.scss */
.post-navigation .previous-post:before, .post-navigation .previous-post:after,
.post-navigation .next-post:before,
.post-navigation .next-post:after {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
/* line 135, ../_scss/modules/_post.scss */
.post-navigation .previous-post {
  padding-left: 2em;
}
/* line 15, ../_scss/common/_icons.scss */
.post-navigation .previous-post:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 138, ../_scss/modules/_post.scss */
.post-navigation .previous-post:before {
  left: .5em;
}
/* line 142, ../_scss/modules/_post.scss */
.post-navigation .next-post {
  text-align: right;
  padding-right: 2em;
}
/* line 15, ../_scss/common/_icons.scss */
.post-navigation .next-post:after {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 146, ../_scss/modules/_post.scss */
.post-navigation .next-post:after {
  right: .5em;
}
