/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_scss/_defaults.scss */
body {
  font-family: "Georgia", serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, ../_scss/_defaults.scss */
p {
  line-height: 1.5;
}

@font-face {
  font-family: 'allerregular';
  src: url("../fonts/aller_rg-webfont.eot");
  src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../_scss/_fonts.scss */
.aller {
  font-family: 'allerregular', arial;
}

/* line 16, ../_scss/_fonts.scss */
.aller-light, .cta, .toggle-about-panel {
  font-family: 'aller_lightregular', arial;
}

@font-face {
  font-family: 'aller_lightregular';
  src: url("../fonts/aller_lt-webfont.eot");
  src: url("../fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: lighter;
  font-style: normal;
}

/* line 31, ../_scss/_fonts.scss */
.aller-light, .cta, .toggle-about-panel {
  font-family: 'aller_lightregular', arial;
}

/* line 1, ../_scss/_classes.scss */
.cta, .toggle-about-panel {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  background: white;
  outline: none;
  color: #e94127;
  border: 1px solid #e94127;
  display: inline-block;
  padding: 1em 1.25em;
  text-transform: lowercase;
  font-size: 1em;
}
/* line 13, ../_scss/_classes.scss */
.cta:hover, .toggle-about-panel:hover {
  background: #e94127;
  color: white;
}

@font-face {
  font-family: 'jshakes-icons';
  src: url("/fonts/jshakes-icons.eot?i18epf");
  src: url("/fonts/jshakes-icons.eot?#iefixi18epf") format("embedded-opentype"), url("/fonts/jshakes-icons.woff?i18epf") format("woff"), url("/fonts/jshakes-icons.ttf?i18epf") format("truetype"), url("/fonts/jshakes-icons.svg?i18epf#jshakes") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../_scss/_icons.scss */
.icon-search {
  content: "\e602";
}

/* line 30, ../_scss/_icons.scss */
.icon-phone {
  content: "\e603";
}

/* line 33, ../_scss/_icons.scss */
.icon-hamburger {
  content: "\e604";
}

/* line 36, ../_scss/_icons.scss */
.icon-fb {
  content: "\e605";
}

/* line 39, ../_scss/_icons.scss */
.icon-email {
  content: "\e606";
}

/* line 42, ../_scss/_icons.scss */
.icon-arrow-right {
  content: "\e600";
}

/* line 45, ../_scss/_icons.scss */
.icon-arrow-left {
  content: "\e607";
}

/* line 48, ../_scss/_icons.scss */
.icon-arrow-up {
  content: "\e608";
}

/* line 51, ../_scss/_icons.scss */
.icon-arrow-down, .toggle-about-panel:after {
  content: "\e609";
}

/* line 54, ../_scss/_icons.scss */
.icon-twitter {
  content: "\e601";
}

/* line 57, ../_scss/_icons.scss */
.icon-jshakes-logo, .site-header-icon:before {
  content: "\e60a";
}

/* line 3, ../_scss/_layout.scss */
.site-header {
  text-align: center;
  padding: 2em 0;
  background: #e94127;
  color: white;
  border-bottom: 1px solid white;
}

/* line 11, ../_scss/_layout.scss */
.site-header-permalink {
  color: white;
  text-decoration: none;
  display: block;
}

/* line 17, ../_scss/_layout.scss */
.site-header-icon {
  font-size: 0;
}
/* line 15, ../_scss/_icons.scss */
.site-header-icon:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 20, ../_scss/_layout.scss */
.site-header-icon:before {
  font-size: 60px;
}

/* line 27, ../_scss/_layout.scss */
.toggle-about-panel {
  cursor: pointer;
  border-color: white;
  color: white;
  background: transparent;
  font-size: .8em;
}
/* line 15, ../_scss/_icons.scss */
.toggle-about-panel:after {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 35, ../_scss/_layout.scss */
.toggle-about-panel:hover {
  background: white;
  color: #e94127;
}
/* line 39, ../_scss/_layout.scss */
.toggle-about-panel:after {
  margin-left: 1.5em;
  font-size: .7em;
}

/* line 45, ../_scss/_layout.scss */
.about-panel {
  text-align: center;
  padding: 2em 0 0;
}

/* line 50, ../_scss/_layout.scss */
.about-panel-text {
  text-align: left;
  display: none;
}

/* line 59, ../_scss/_layout.scss */
.article-index .article-permalink {
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  display: block;
  text-align: center;
  padding: 2em 25%;
  text-decoration: none;
  color: #444444;
}
/* line 66, ../_scss/_layout.scss */
.article-index .article-permalink:hover {
  background: #e94127;
  color: white;
}
/* line 72, ../_scss/_layout.scss */
.article-index .article-title {
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 81, ../_scss/_layout.scss */
.article-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 2em 0;
}

/* line 87, ../_scss/_layout.scss */
.article-header {
  text-align: center;
}

/* line 91, ../_scss/_layout.scss */
.article-permalink {
  color: #444444;
}

/* line 95, ../_scss/_layout.scss */
.article-title {
  font-size: 3em;
  margin: 0 0 .5em;
}

/* line 100, ../_scss/_layout.scss */
.article-body > p {
  margin: 0 0 1em;
}
