// Header

.site-header{
  text-align: center;
  padding: 2em 0;
  background: $red;
  color: white;
}

.site-header-permalink{
  color: white;
  text-decoration: none;
  display: block;
}

.site-header-icon{
  @include js-icon("jshakes-logo");
  font-size: 0;
  &:before{
    font-size: 60px;
  }
}

// Home page

.toggle-about-panel{
  @extend .cta;
  @include js-icon("arrow-down", "after");
  cursor: pointer;
  border-color: white;
  color: white;
  background: transparent;
  font-size: .8em;
  &:hover{
    background: white;
    color: $red;
  }
  &:after{
    margin-left: 1.5em;
    font-size: .7em;
  }
}

.about-panel{
  text-align: center;
  padding: 2em 0 0;
}

.about-panel-text{
  text-align: left;
  display: none;
}

// Post index

.article-index{

  margin-top: 2em;

  .article-permalink{
    @include transition(background, .25s);
    text-align: center;
    padding: 2em 25%;
    &:hover{
      background: $red;
      color: white;
    }
  }

  .article-title{
    font-size: 2em;
    margin-bottom: .5em;
  }

}

// Single article

.article-content{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}

.article-header{
  text-align: center;
  margin: 3em 0;

  .article-publish-date{
    margin: 3em 0 0;
    display: block;
  }
}

.article-permalink{
  color: $body_copy;
  display: block;
  text-decoration: none;
}

.article-title{
  font-size: 3em;
}

.article-body > p{
  margin: 0 0 1em;
}