<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>
  
  <header class="site-header">
    <a class="site-header-title" href="{{ site.baseurl }}">
      <h2>James Shakespeare</h2>
    </a>
    <h3 class="site-header-strap">Converting caffeine into code and cake into cadence</h3>
  </header>

  {{ content }}
</body>

</html>
